[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-database-url = "*"
python-decouple = "*"
"psycopg2-binary" = "*"
django = "*"
requests = "*"
django-rest-auth = "*"
django-allauth = "*"
django-rest-api = "*"
django-cors-headers = "*"
djangorestframework = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
