{% extends "base.html" %}

{% block title %}Game Over{% endblock %}

{% block content %}
	<div class="d-flex flex-column align-items-center justify-content-center">
		<p class="text-center h2 mb-4">{{ message }}</p>
		<p>The last word was {{ current_search_term }}.</p>
		<p>You got {{ points }} total point{% if points != 1 %}s{% endif %}!</p>
		<form class="container form-horizontal d-flex justify-content-center align-items-center mb-4" action = "{% url "guess:index" %}" method = "GET">
			{% csrf_token %}
			<input class="btn btn-primary p-2 p-md-1 col-12 col-sm-4 col-md-3 col-lg-2" type = "submit" value = "Restart">
		</form>
		{% include "guess/high-scores.html" with high_scores=high_scores %}
	</div>
{% endblock %}
